body{
    font-size: 18px;
    background-color: deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.container{
    width: 60%;
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 10px;
}

div{
    margin:2rem 0;
}

button{
    width: 30%;
    padding: 0.4rem;
    margin-top: 0.7rem;
}

#resultado{
    text-align: center;
}

h2{
    text-align: center;
    margin-bottom: 3rem;
}

p{
    margin-bottom: 1rem;
}


img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}


@media (max-width:500px) {
    .container{
        width: 100%;
        background-color: white;
        padding: 1.5rem 2rem;
        border-radius: 10px;
    }
    button{
        width: 100%;
        padding: 0.4rem;
        margin-top: 0.7rem;
    }   
}